<!--<div data-ng-controller="announcementsCtrl">-->
    <!--<h3 data-ng-model="header">{{header}}</h3>-->
    <!--<h5 data-ng-model="Announcement", data-ng-model="From">{{announcementGiven}} From: {{From}}</h5>-->
<!--</div>-->


<div data-ng-controller="announcementsCtrl">
    <h3 data-ng-model="header">{{header}}</h3>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table style="width:100%">
        <tr>
            <th>ANNOUNCEMENT</th>
            <th>FROM</th>
        </tr>
        <tr ng-repeat="announcement in data">
            <td>{{announcement.announcementGiven}}</td>
            <td>{{announcement.From}}</td>
        </tr>
    </table>
</div>
