<div data-ng-controller="forumDetailsCtrl">

    <h3 data-ng-model="header">{{header}}</h3>
    <div ng-repeat="details in data">
        <h5 data-ng-model="Name"><strong>Team Name:</strong> {{details.Name}}</h5>
        <h5 data-ng-model="Schedule"><strong>Schedule:</strong> {{details.Schedule}}</h5>
        <h5 data-ng-model="Leader"><strong>Leader:</strong> {{details.Leader}}</h5>
        <h5 data-ng-model="Facilitator"><strong>Facilitator:</strong> {{details.Facilitator}}</h5>
        <h5 data-ng-model="Dial"><strong>Dial-In Number:</strong> {{detials.Dial}}</h5>
        <h5 data-ng-model="Objective"><strong>Objective:</strong> {{details.Objective}}</h5>
    </div>
</div>
