<!--<div data-ng-controller="tasksCtrl">-->
    <!--<h3 data-ng-model="header">{{header}}</h3>-->
<!--</div>-->

<div data-ng-controller="tasksCtrl">
    <h3 data-ng-model="header">{{header}}</h3>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <table style="width:100%">
        <tr>
            <th>WHAT</th>
            <th>WHO</th>
            <th>WHEN</th>
        </tr>
        <tr>
            <td data-ng-model="What">{{What}}</td>
            <td data-ng-model="Who">{{Who}}</td>
            <td data-ng-model="When">{{When}}</td>
        </tr>
    </table>
</div>
